<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nager.Date", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("DE", "PublicHolidays", "Home", new { id = "DE" }, null)</li>
                    <li>@Html.ActionLink("CH", "PublicHolidays", "Home", new { id = "CH" }, null)</li>
                    <li>@Html.ActionLink("AT", "PublicHolidays", "Home", new { id = "AT" }, null)</li>
                    <li>@Html.ActionLink("IT", "PublicHolidays", "Home", new { id = "IT" }, null)</li>
                    <li>@Html.ActionLink("ES", "PublicHolidays", "Home", new { id = "ES" }, null)</li>
                    <li>@Html.ActionLink("LI", "PublicHolidays", "Home", new { id = "LI" }, null)</li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Nager.Date</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
