@model List<Nager.Date.Model.PublicHoliday>
@{
    ViewBag.Title = "PublicHolidays";
}

<table class="table">
    <tr>
        <th style="width:100px;">Date</th>
        <th>Name</th>
        <th>Description</th>
        <th>Global</th>
    </tr>
    @foreach (var publicHoliday in Model)
    {
        <tr>
            <td>@publicHoliday.Date.ToShortDateString()</td>
            <td>@publicHoliday.Name</td>
            <td>@publicHoliday.Description</td>
            <td>@publicHoliday.Global
            @if (publicHoliday.Countys != null)
            {
                foreach(var county in publicHoliday.Countys)
                {
                    @Html.Raw(county + ",")
                }
            }
            </td>
        </tr>
    }
</table>

