@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nager.Date</title>
    <meta name="Description" content="@ViewData["Description"]" />
    <meta name="Keywords" content="public holidays, holiday, holidays, national holidays, international holidays, longweekends" />


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/images/flags/flags.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />

    <script defer src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
</head>
<body>
    <nav id="Navigation" class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <button @@click="show" class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="navbar-brand">Nager.Date</a>
            <div :class="['navbar-collapse', { 'collapse' : hideNavigation }]">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">@Html.ActionLink("Countries", "Countries", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("API", "Index", "Api", null, new { @class = "nav-link" })</li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="https://github.com/tinohager/Nager.Date"><i class="fab fa-github"></i> Github</a></li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer class="mt-4">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-8">
                    <div class="mb-4">
                        <h3><i class="fab fa-github"></i> Help to improve this project</h3>
                        <a href="https://github.com/tinohager/Nager.Date">github.com/tinohager/Nager.Date</a>
                    </div>
                    <div class="mb-4">
                        <h3><i class="fas fa-bug"></i> Report a failure</h3>
                        If you found a failure please create a new <a href="https://github.com/tinohager/Nager.Date/issues">issue</a>.
                    </div>
                </div>
                <div class="footer-col col-md-4">
                    <div class="mb-4">
                        <h3><i class="fas fa-gavel"></i> Imprint</h3>
                        <ul>
                            <li>Project of <a href="https://www.nager.at">nager.at</a></li>
                            <li><a href="https://www.nager.at/privacypolicy.html">Privacy policy</a></li>
                        </ul>
                    </div>
                    <div class="mb-4">
                        <h3><i class="fas fa-hands-helping"></i> Supporter</h3>
                        Logo Design - <a href="https://zummedium.at/">zumtobel zummedium.at</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="row">
            <div class="col-lg-12">
                Copyright &copy; nager.at @DateTime.Now.Year
            </div>
        </div>
    </div>

    <script src="~/lib/axios/axios.min.js"></script>
    <script src="~/lib/moment/moment-with-locales.min.js"></script>
    <script src="~/lib/vue/vue.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#eeeeee"
                    },
                    "button": {
                        "background": "#346cb0"
                    }
                },
                "position": "bottom"
            })
        });

        new Vue({
            el: '#Navigation',
            data: {
                hideNavigation: true,
            },
            methods: {
                show: function () {
                    this.hideNavigation = !this.hideNavigation;
                }
            }
        })

    </script>

    @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("cookieconsent_status"))
    {
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script src="https://www.googletagmanager.com/gtag/js?id=UA-106595536-5"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments) };
            gtag('js', new Date());
            gtag('config', 'UA-106595536-5', { 'anonymize_ip': true });
        </script>
    }

    @RenderSection("Scripts", required: false)
</body>
</html>
