@model Nager.Date.Website.Model.PublicHolidayInfo
@{
    ViewBag.Title = "Public Holidays in " + Model.Country;
}

<h1><img src="http://www.countryflags.io/@Model.CountryCode/flat/64.png" alt="@Model.Country" title="@Model.Country"> Public Holidays in @Model.Country <small>@Model.CountryCode - @Model.Year</small></h1>

<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#publicholiday" aria-controls="publicholiday" role="tab" data-toggle="tab">Public Holidays</a></li>
        <li role="presentation"><a href="#longweekend" aria-controls="longweekend" role="tab" data-toggle="tab">Long Weekends</a></li>
    </ul>

    <div class="tab-content" style="margin-top:4px;">
        <div role="tabpanel" class="tab-pane active" id="publicholiday">
            <table class="table table-responsive">
                <tr>
                    <th class="col-xs-6 col-md-1">Date</th>
                    <th class="col-md-3 hidden-xs">Local name</th>
                    <th class="col-md-3 hidden-xs">Name</th>
                    <th class="col-xs-6 col-md-6 visible-xs">Name</th>
                    <th class="col-md-1 hidden-xs">Global</th>
                    <th class="col-md-4 hidden-xs">Countys</th>
                </tr>
                @foreach (var publicHoliday in Model.PublicHolidays)
                {
                    <tr>
                        <td>@publicHoliday.Date.ToShortDateString()</td>
                        <td class="hidden-xs">@publicHoliday.LocalName</td>
                        <td class="hidden-xs">@publicHoliday.Name</td>
                        <td class="visible-xs">@publicHoliday.Name<br />@publicHoliday.LocalName</td>
                        <td class="hidden-xs">
                            @if (publicHoliday.Global)
                            {
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            }
                        </td>
                        <td class="hidden-xs">
                            @if (!publicHoliday.Global)
                            {
                                foreach (var county in publicHoliday.Counties)
                                {
                                    <span class="label label-default">@county</span>
                                }
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div role="tabpanel" class="tab-pane" id="longweekend">
            <table class="table table-responsive">
                <tr>
                    <th class="col-md-2">Startdate</th>
                    <th class="col-md-2">Enddate</th>
                    <th class="col-md-4">Days</th>
                    <th class="col-md-4">Need Bridge Day</th>
                </tr>
                @foreach (var longWeekend in Model.LongWeekends)
                {
                    <tr>
                        <td>@longWeekend.StartDate.ToShortDateString()</td>
                        <td>@longWeekend.EndDate.ToShortDateString()</td>
                        <td>@longWeekend.DayCount</td>
                        <td>
                            @if (longWeekend.Bridge)
                            {
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<div class="btn-group" role="group">
    @for (var i = Model.Year - 5; i < Model.Year + 6; i++)
    {
        <a href="/PublicHoliday/Country/@(Model.CountryCode)/@(i)" class="btn btn-primary">@i</a>
    }
</div>

<br />
<br />

<div class="container">
    <div class="row">
        <div class="visible-md visible-lg text-center">
            <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?f=ifr&t=nagerat-21&o=3&p=48&l=bn1&mode=computers&browse=340843031&fc1=000000&lt1=_top&lc1=A43907&bg1=EFEFCC" marginwidth="0" marginheight="0" width="728" height="90" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
        </div>
        <div class="visible-xs visible-sm text-center">
            <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?f=ifr&t=skiline-21&o=3&p=286&l=st1&mode=amazontv-de&search=&fc1=000000&lt1=_top&lc1=A43907&bg1=EFEFCC" marginwidth="0" marginheight="0" width="200" height="200" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
        </div>
    </div>
</div>