@model IEnumerable<Nager.Date.Model.PublicHoliday>
@{
    ViewBag.Title = "Public Holidays for " + ViewBag.Country;
}
<h1>Public Holidays for @ViewBag.Country <small>@ViewBag.CountryCode - @ViewBag.Year</small></h1>

<table class="table table-responsive">
    <tr>
        <th class="col-md-1">Date</th>
        <th class="col-md-3">Local name</th>
        <th class="col-md-3">Name</th>
        <th class="col-md-1">Global</th>
        <th class="col-md-4">Countys</th>
    </tr>
    @foreach (var publicHoliday in Model)
    {
        <tr>
            <td>@publicHoliday.Date.ToShortDateString()</td>
            <td>@publicHoliday.LocalName</td>
            <td>@publicHoliday.Name</td>
            <td>
                @if (publicHoliday.Global)
                {
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                }
            </td>
            <td>
                @if (!publicHoliday.Global)
                {
                    foreach (var county in publicHoliday.Counties)
                    {
                        <span class="label label-default">@county</span>
                    }
                }
            </td>
        </tr>
    }
</table>


<a href="/PublicHoliday/Country/@(ViewBag.CountryCode)/@(ViewBag.NextYear)" class="btn btn-primary">Next year</a>