@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model Nager.Date.WebsiteCore.Models.PublicHolidayInfo
@{
    ViewData["Title"] = $"{Model.Country} - Public Holidays in {Model.Country} in {Model.Year}";
    ViewData["Description"] = $"Overview of celebrated public holidays in {Model.Country} during {Model.Year}. With detailed information in which federal state the holiday is celebrated.";
}

<header class="public-holiday-country-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-xl-2 mt-5 text-center">
                <img src="~/images/flags/blank.gif" class="flag flag-@Model.CountryCode.ToLower()" alt="@Model.Country" title="@Model.Country" />
            </div>
            <div class="col-12 col-xl-10">
                <h1 class="display-4 mt-4">Public Holidays in @Model.Country in @Model.Year</h1>
                <h4 class="mt-2 d-none d-sm-block">A list of public holidays observed in @Model.Country</h4>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid" id="App" v-cloak>

    <div class="row">
        <div class="col-12 col-xl-8 mt-4">
            <section class="card">
                <header class="card-header border-0"><i class="fas fa-globe-africa"></i> Public holidays</header>
                <div class="table-responsive" v-if="publicHolidays">
                    <table class="table" v-if="publicHolidays.length > 0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th class="d-none d-sm-table-cell">Local name</th>
                                <th class="d-none d-sm-table-cell">Name</th>
                                <th class="d-sm-none">Name</th>
                                <th class="d-none d-lg-table-cell">Global</th>
                                <th class="d-none d-lg-table-cell" style="width: 30%" v-if="showColumnCounty">Countys</th>
                                <th>Type</th>
                                <th class="d-none">Country</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="publicHoliday in publicHolidays" itemscope itemtype="http://schema.org/Event">
                                <td itemprop="startDate" :content="publicHoliday.date | iso8601Date">{{ publicHoliday.date | longLocalDate }}</td>
                                <td itemprop="name" class="d-none d-sm-table-cell">{{ publicHoliday.localName }}</td>
                                <td itemprop="alternateName" class="d-none d-sm-table-cell">{{ publicHoliday.name }}</td>
                                <td class="d-sm-none"><strong>{{ publicHoliday.localName }}</strong><br />{{ publicHoliday.name }}</td>
                                <td class="d-none d-lg-table-cell">
                                    <i class="fas fa-check" v-if="publicHoliday.global"></i>
                                    <i class="fas fa-ban" v-if="!publicHoliday.global"></i>
                                </td>
                                <td class="d-none d-lg-table-cell" v-if="showColumnCounty">
                                    <template v-if="!publicHoliday.global" v-for="county in publicHoliday.counties">
                                        <span class="badge badge-light">{{ county }}</span>
                                    </template>
                                </td>
                                <td>
                                    {{ publicHoliday.type }}
                                </td>
                                <td itemprop="location" itemscope itemtype="http://schema.org/Place" class="d-none">
                                    <span itemprop="address">{{ publicHoliday.countryCode }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div v-else class="p-3">
                        No data for this country available.
                    </div>
                </div>
                <div v-else class="p-3">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </section>
            <div class="mt-2">
                <nav class="mt-3 d-none d-sm-block">
                    <ul class="pagination justify-content-center ml-2">
                        @for (var i = Model.Year - 5; i < Model.Year + 6; i++)
                        {
                            <li class="page-item">
                                <a href="/PublicHoliday/Country/@(Model.CountryCode)/@(i)" class="page-link">@i</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-12 col-xl-4 mt-4">
            <section class="card">
                <header class="card-header border-0"><i class="fas fa-calendar-alt"></i> Long weekends</header>
                <div class="table-responsive" v-if="longWeekends">
                    <div v-for="longWeekend in longWeekends" v-if="longWeekends.length > 0">
                        <table class="longweekend">
                            <tr>
                                <td class="day-count">
                                    <strong>{{ longWeekend.dayCount }}</strong>
                                    <small>days</small>
                                </td>
                                <td class="d-none d-sm-table-cell info-start">{{ longWeekend.startDate | monthNameWithDay }}</td>
                                <td v-for="day in getDates(longWeekend.startDate, longWeekend.endDate)" class="day">
                                    <span class="d-block" :style="isSunday(day) ? 'color:red; font-weight:bold;' : ''">{{ day | onlyDayName }}</span>
                                    <strong>{{ day | onlyDayNumber }}</strong><br />
                                    <span class="d-sm-none d-block">{{ day | onlyMonthName }}</span>
                                </td>
                                <td class="d-none d-sm-table-cell info-end">{{ longWeekend.endDate | monthNameWithDay }}</td>
                            </tr>
                        </table>
                    </div>
                    <div v-else class="p-3">
                        No data for this country available.
                    </div>
                </div>
                <div v-else class="p-3">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </section>

            <section class="card mt-4" v-if="countryInfo && countryInfo.borders.length > 0">
                <header class="card-header border-0">Border countries</header>
                <div class="mb-2">
                    <div v-for="border in countryInfo.borders" class="d-inline-block text-center ml-2 mb-2" style="width:140px;">
                        <a :href="'/PublicHoliday/Country/' + border.countryCode" class="d-block">
                            <img src="~/images/flags/blank.gif" :class="'flag flag-' + border.countryCode.toLowerCase()" :alt="border.countryCode" :title="border.countryCode" />
                        </a>
                        <a :href="'/PublicHoliday/Country/' + border.countryCode">{{ border.commonName }}</a>
                    </div>    
                </div>
            </section>

            <section class="card mt-4" v-if="publicHolidays && publicHolidays.length > 0">
                <header class="card-header border-0"><i class="fas fa-file-download"></i> Downloads</header>
                <div>
                    <ul class="list-group">
                        @*<li class="list-group-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i> <a href="/PublicHoliday/DownloadCSV/@(Model.CountryCode)/@(Model.Year)">PDF Calendar</a>
                        </li>*@
                        <li class="list-group-item">
                            <i class="fas fa-file-csv"></i> <a href="/PublicHoliday/Country/@(Model.CountryCode)/@(Model.Year)/CSV">CSV</a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>

</div>

@if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("cookieconsent_status"))
{
    <div class="mt-3 mb-4 d-flex justify-content-center">
        <div class="d-none d-sm-block">
            <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?f=ifr&t=publicholiday-21&o=3&p=48&l=bn1&mode=computers&browse=340843031&fc1=000000&lt1=_top&lc1=A43907&bg1=EFEFCC" marginwidth="0" marginheight="0" width="728" height="90" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
        </div>
        <div class="d-block d-sm-none">
            <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?f=ifr&t=publicholiday-21&o=3&p=286&l=st1&mode=amazontv-de&search=&fc1=000000&lt1=_top&lc1=A43907&bg1=EFEFCC" marginwidth="0" marginheight="0" width="200" height="200" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
        </div>
    </div>
}

@section scripts {

<script type="text/javascript">

new Vue({
    el: '#App',
    data: {
        countryInfo: null,
        longWeekends: null,
        publicHolidays: null
    },
    mounted() {
        this.getPublicHolidays();
        this.getCountryInfo();
        this.getLongWeekends();
    },
    created() {
        var locale = window.navigator.userLanguage || window.navigator.language;
        moment.locale(locale);
    },
    filters: {
        shortLocalDate: function (date) {
            return moment(date).format('L');
        },
        longLocalDate: function (date) {
            return moment(date).format('dd L');
        },
        onlyDayName: function (date) {
            return moment(date).format('dd');
        },
        onlyDayNumber: function (date) {
            return moment(date).format('DD');
        },
        monthNameWithDay: function (date) {
            return moment(date).format('DD. MMM');
        },
        onlyMonthName: function (date) {
            return moment(date).format('MMM');
        },
        iso8601Date: function (date) {
            return moment(date).toISOString();
        }
    },
    computed: {
        showColumnCounty: function () {
            if (this.publicHolidays === null) {
                return false;
            }
            let count = this.publicHolidays.filter(o => !o.global);
            return count.length !== 0;
        }
    },
    methods: {
        getCountryInfo: function () {
            axios.get('/Api/v2/CountryInfo?countryCode=@(Model.CountryCode)')
                .then(response => {
                    this.countryInfo = response.data
                })
                .catch(error => {
                    console.log(error)
                });
        },
        getLongWeekends: function () {
            axios.get('/Api/v2/LongWeekend/@(Model.Year)/@(Model.CountryCode)')
                .then(response => {
                    this.longWeekends = response.data
                })
                .catch(error => {
                    console.log(error)
                });
        },
        getPublicHolidays: function () {
            axios.get('/Api/v2/PublicHolidays/@(Model.Year)/@(Model.CountryCode)')
                .then(response => {
                    this.publicHolidays = response.data
                })
                .catch(error => {
                    this.publicHolidays = [];
                    console.log(error)
                });
        },
        getDates: function (startDate, stopDate) {
            var dateArray = [];
            var currentDate = moment(startDate);
            var stopDate = moment(stopDate);
            while(currentDate <= stopDate) {
                dateArray.push(moment(currentDate).format('YYYY-MM-DD'))
                currentDate = moment(currentDate).add(1, 'days');
            }
            return dateArray;
        },
        isSunday: function (date) {
            var currentDate = moment(date);
            if (currentDate.day() === 0) {
                return true;
            }
            return false;
        }
    }
})

</script>
}
